.header {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
  }
.example-fill-remaining-space {
    flex-grow: 8;
  }

.title{
    flex-grow: 24;
}

.actions{
    flex-grow: 1;
}